body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

body,
body * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#calculator {
    width: 100%;
    height: 100%;
    background: #131313;
}

#calculator div:first-of-type {
    width: 100%;
    height: 7rem;
    background: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator #calculate {
    border: none;
    background: none;
    width: 90%;
    font-size: 2rem;
    text-align: right;
}

#calculator #ops {
    padding: 0.2rem;
    display: grid;
    grid-template-areas:
        "clear clear divide multi"
        "n7 n8 n9 minus"
        "n4 n5 n6 plus"
        "n1 n2 n3 dec"
        "n0 parOpen parClose equals";
    grid-template-rows: repeat(5, 7.5rem);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.2rem;
    column-gap: 0.2rem;
}

#calculator #ops button {
    background: rgb(17, 17, 24);
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

#calculator #ops #clear {
    grid-area: clear;
    background: darkred;
}

#calculator #ops #divide {
    grid-area: divide;
}

#calculator #ops #multiply {
    grid-area: multi;
}

#calculator #ops #n7 {
    grid-area: n7;
}

#calculator #ops #n8 {
    grid-area: n8;
}

#calculator #ops #n9 {
    grid-area: n9;
}

#calculator #ops #minus {
    grid-area: minus;
}

#calculator #ops #n4 {
    grid-area: n4;
}

#calculator #ops #n5 {
    grid-area: n5;
}

#calculator #ops #n6 {
    grid-area: n6;
}

#calculator #ops #plus {
    grid-area: plus;
}

#calculator #ops #n1 {
    grid-area: n1;
}

#calculator #ops #n2 {
    grid-area: n2;
}

#calculator #ops #n3 {
    grid-area: n3;
}

#calculator #ops #decimal {
    grid-area: dec;
}

#calculator #ops #n0 {
    grid-area: n0;
}

#calculator #ops #parOpen {
    grid-area: parOpen;
}

#calculator #ops #parClose {
    grid-area: parClose;
}

#calculator #ops #equals {
    grid-area: equals;
    background: darkgreen;
}

@media screen and (min-width: 600px) {
    #calculator {
        width: 70%;
    }

    #calculator #ops {
        padding-top: 1rem;
    }
}

@media screen and (min-width: 900px) {
    #calculator {
        width: 50%;
    }
}